@model List<SqualrusBrews.Models.BeerViewModel>

@{
    ViewBag.Title = "Beer";
}

<section class="sb-welcome" role="main">
    <div class="content">
        <h1>Welcome To<br />Squalrus Brews</h1>
        <h3>If you like beer we are friends.</h3>
        <p>I began in 2013 experimenting with a variety of malts, hops, and yeasts to create tastey beverages. I continued out of my passion for learning and my desire to share with friends. I have slowly grown from one carboy to two, from bottling to kegging, and look forward to experimenting as time goes on. It is a special feeling to become intoxicated on something you created.</p>
    </div>
</section>

<section class="sb-brews" role="main">
    <div class="content">
        <h2>The Brews</h2>
        <ul class="sb-brewList">
            <li>
                <a href="#">
                    Beer Name
                    <span>Beer Type</span>
                </a>
            </li>
            @foreach (SqualrusBrews.Models.BeerViewModel beer in Model)
            {
                <li>@beer.Name</li>
            }
        </ul>
    </div>
</section>

<section class="sb-brews" role="main">
    <div class="content">
        <h2>Drinking Now</h2>
        <ul class="sb-drinkerList">
            <li>
                <a href="#">
                    Person Name
                    <span>Beer Drinking</span>
                </a>
            </li>
        </ul>

    </div>
</section>