@{
    ViewBag.Title = "Beer";
}

<section class="sb-welcome" role="main">
    <div class="container">
        <div class="span-7">
            <h1>Welcome To<br />Squalrus Brews</h1>
            <h3>If you like beer we are friends.</h3>
            <p>I began in 2013 experimenting with a variety of malts, hops, and yeasts to create tastey beverages. I continued out of my passion for learning and my desire to share with friends. I have slowly grown from one carboy to two, from bottling to kegging, and look forward to experimenting as time goes on. It is a special feeling to become intoxicated on something you created.</p>
        </div>
    </div>
</section>

<section class="sb-brews" role="main">
    <div class="container">
        <h2>The Brews</h2>
        <ul>
            <li><a href="/FF7E00">#FF7E00 Ale</a></li>
            <li><a href="/443er">:443er</a></li>
        </ul>
    </div>
</section>
